
.backcover{
  color: blue;
}

.dash{
  margin-top: 50px;
  padding-top: 50px;
    background-color:rgb(255, 255, 255);
}

.details{
  padding-top: 50px;
    background-color:rgb(255, 255, 255);
}

.rform {

  background-color:rgb(135, 153, 177);
}

.feature .image {
  width: 48%;
  float: left;
}

.feature .content {
  width: 52%;
  float: left;
}

.feature:after {
  content: '';
  display: block;
  clear: both;
}

.card-body{
  float: left;
}

.wrapper.style1 {
  width: 100%;
  background-color: #EEE;
  color: #777;
  margin-top: 50px;
  margin-bottom: 50px;
}


.wrapper > .inner {
  margin: 0 auto;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
  width: 70em;
}
.wrapper.style1 .feature {
  background-color: #fff;
}

.feature.left {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.feature .image {
  width: 48%;
}


.feature .content {

    padding: 2em 3em 0.1em 3em;
    width: 52%;

}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

p {
  margin: 0 0 2em 0;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff !important;
}

.wrapper.style1 a {
  color: #ffffff;
}

