
.backcover{
  color: blue;
}

.dash{
  margin-top: 50px;
  padding-top: 50px;
    background-color:rgb(255, 255, 255);
}

.details{
  padding-top: 50px;
    background-color:rgb(255, 255, 255);
}

.rform {

  background-color:rgb(135, 153, 177);
}